@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1020px;
    margin: 0 auto;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: grey;
    list-style: none;
}

header ul li:last-child{
    margin-right: 30px;
}

header button {
    border: none;
    width: 100px;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
    background-color: #bcda5c;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
}

.block1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgb(2, 0, 0, 0.1)), url(../images/banner.png);
    width: 1300px;
    height: 570px;
    margin: 0 auto;
}

.block1 h2 {
    text-align: center;
    font-size: 49px;
    font-weight: 600;
    color: white;
}

.block1 h2 span {
    font-size: 35px;
    font-weight: 400;
}

.block1 button {
    background-color: #99c50a;
    border: none;
    color: white;
    font-size: 19px;
    font-weight: 600;
    border-radius: 10px;
    padding: 25px 40px;
}

.block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.shape {
    width: 58px;
    height: 58px;
    margin-top: 75px;
    background-image: url(../images/Shape846.svg);
}

.block2 h2 {
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 600;
    text-align: center;
}

.block2 div p {
    font-size: 19px;
    font-weight: 400;
    text-align: center;
}

.block2-txt{
    margin-bottom: 150px;
}

.block2-box{
    display: flex;
    font-size: 33px;
    gap: 70px;
    margin-top: 50px;
}

.circle-block2{
    background-color: #5f5f5f;
    color: white;
    border-radius: 100%;
    padding: 20px 30px;
    font-weight: 600;
    margin-right: 20px;
}

.btn:hover .circle-block2{
    background-color: #add136;
}

.block4{
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}

.block4-box{
    display: flex;
    align-items: center;
    gap: 125px;
    margin: 20px;
}

.block4 button{
    padding: 20px 25px; 
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #b6b6b6;
    white-space: nowrap;
}
.card{
    max-width: 300px;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}

.card-desc{
    margin: 0px 20px; 
}

.bar{
    height: 15px;
    background-color: #e3e3e3;
    border: none;
    border-radius: 10px;
}

.bar-green{
    height: 15px;
    width: 40px;
    background-color: #add136;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: -8px;
}

.progress{
    position: relative;
}
.card-box{
    display: flex;
    justify-content: space-around;
}
